# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/vcs.xml
/via.iml
/inspectionProfiles
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
